[submodule "CSXCAD"]
	path = CSXCAD
	url = https://github.com/thliebig/CSXCAD.git
[submodule "QCSXCAD"]
	path = QCSXCAD
	url = https://github.com/thliebig/QCSXCAD.git
[submodule "AppCSXCAD"]
	path = AppCSXCAD
	url = https://github.com/thliebig/AppCSXCAD.git
[submodule "openEMS"]
	path = openEMS
	url = https://github.com/dsa-t/openEMS.git
[submodule "fparser"]
	path = fparser
	url = https://github.com/dsa-t/fparser.git
[submodule "hyp2mat"]
	path = hyp2mat
	url = https://github.com/koendv/hyp2mat.git
[submodule "CTB"]
	path = CTB
	url = https://github.com/thliebig/CTB.git
[submodule "TinyXML"]
	path = tinyxml
	url = https://github.com/xbmc/TinyXML.git
[submodule "VTK"]
	path = vtk
	url = https://github.com/Kitware/VTK.git
[submodule "boost"]
	path = boost
	url = https://github.com/boostorg/boost.git
[submodule "hdf5"]
	path = hdf5
	url = https://github.com/HDFGroup/hdf5.git
[submodule "cgal"]
	path = cgal
	url = https://github.com/CGAL/cgal.git
[submodule "tinyxml"]
	path = tinyxml
	url = https://github.com/dsa-t/TinyXML.git
